

.title-img{
    width: 600px;
    height: 450px;
    background-image: url(title.jpg);
    margin: auto;
}

#button {
    background-color:#f4a460; 
    color: #fff; 
    padding: 20px 40px; 
    border: none; 
    border-radius:5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block; 
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Dela Gothic One', cursive;
    
}


.noren-img {
    width: 600px;
    height: 300px;
    background-size: 100%;
    background-position: center;
    background-image: url(noren.png);
    margin:auto;

    animation-name:fadeInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
}
        
@keyframes fadeInAnime{
    from {
        opacity: 0;
    }
        
    to {
        opacity: 1;
        }
}


        
  

  body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color:white;
    
}
html{
    background-image: url(background.jpg);
}
h2{text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 60px;
}
p{
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px
}




#button:hover {
    background-color: #cd853f; 
}


#result{
    display:none;

    animation-name:fadeInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
}

